<md-content ng-controller="EntryHomeController as vm">
  <div layout="column" layout-padding>
    <div layout="row">
      <md-input-container md-no-float flex="70">
        <input type="text" placeholder="Search..." ng-model="vm.search">
      </md-input-container>
      <div flex="30" layout-align="center center">
        <md-button class="md-raised md-primary" ng-click="vm.postQuestion(mc.user.uuid)">
          Post Question
        </md-button>
      </div>
    </div>
  </div>
  <h2>Recent Questions</h2>
  <hr>
  <div class="row">
    <div flex="70" layout-padding>
      <md-list-item ng-repeat="question in vm.recent">
        <entry-summary entry="question" flex ng-click="vm.go('/entries/' + question.id)"></entry-summary>
      </md-list-item>
    </div>
    <div flex="30">
      Tags
      <hr>
    </div>
  </div>
</md-content>
