<main-content ng-controller="SettingsController as vm">
	<div class="container md-padding">
		<h2>Settings</h2>
		<div flex layout="column">
			<md-input-container class="md-block">
				<label>First name</label>
				<input ng-model="mc.user.firstname">
			</md-input-container>
			<md-input-container class="md-block">
				<label>Last name</label>
				<input ng-model="mc.user.lastname">
			</md-input-container>
			<md-input-container class="md-block">
				<label>Email</label>
				<input ng-model="mc.user.email">
			</md-input-container>
		</div>
		<div ng-show="mc.user.role" class="md-padding">
			<h4 class="inline" ng-show="mc.user.role">Role:</h4> <span ng-bind="mc.user.role"></span>
		</div>
		<div ng-show="userPermissions" class="md-padding">
			<h4>Permissions</h4>
			<md-list>
				<md-list-item ng-repeat="permission in userPermissions track by $index">{{permission}}</md-list-item>
			</md-list>
		</div>
	</div>
</main-content>
