<md-content flex layout-padding layout>
	<div flex flex-offset="10">
		<h2 class="md-display-1">TeachingLean.org, <a href="https://www.lean.org/Lean_Education_Academic_Network.pdf">Lean Educators Academic Network</a></h2>
		<h3 class="md-headline">Teachinglean.org is a place for students and educators to learn and share their knowledge about LEAN systems and other business philosophies.</h3>
		<md-divider></md-divider>
		<h3 class="md-headline">Use our free online <a href="/teachingCurriculum">teaching resources</a> to put together a presentation on a variety of current, up-to date topics on<a href="/about"> LEAN</a>.</h3>
		<md-divider></md-divider>
		<h3 class="md-headline">As questions and recieve feedback from experts in our<a ng-href="/entries"> Q&amp;A Forum</a>.</h3>
		Our next meeting:

A spirited group of researchers, teachers, and practitioners are getting together on Thursday, 4May17, 1-7:30pm in Seattle to start-up the “College of Operational Excellence (COE)” as a sub-group of the Production and Operations Management Society (POMS).  This meeting will also serve as a restart for Lean Education Academic Network (L.E.A.N.) as we envision the way forward for teaching and research in higher education.  Get in on the ground floor by joining us at this Mini-Conference and Reception that serves as a prelude to the annual POMS Conference 5-8May17.  Register at https://pomsmeetings.org/conf-2017/

 

The primary objective of the COE is to build a community focused on operational excellence to 1) foster creation and dissemination of scholarly knowledge; 2) share teaching and pedagogical material; 3) exchange information about undergraduate, graduate and other specialized educational programs; 4) interact with leading practitioners to enrich research and teaching.

 

If you are interested in getting in on the ground floor and providing input and direction, we would like to see you there.  Just register at the POMS website.  If you have questions contact Eric Olsen, eolsen@calpoly.edu ,Rachna Shah, shahx024@umn.edu , or Peter Ward, ward.1@osu.edu . 
	</div>
	<div flex="25"></div>
</md-content>