<md-content flex layout-padding layout>
	<div>
		<md-content layout="column" layout-gt-sm="row" layout-padding layout-margin md-theme="">
			<div flex layout="column">
				<h4 style="margin-top: 0;">The Lean Educators Academic Network</h4>
				<p class="flow-text">
					Maximize customer value and minimize waste through Lean education. This website was created by the <a href="https://www.lean.org/Lean_Education_Academic_Network.pdf">Lean Educators Academic Network</a>					to point professors to teaching materials, broaden Lean distribution, and provide a place to discuss, collaborate, and
					educate.
				</p>
				<div>
					<md-button class="md-raised md-accent" ng-href="/createAccount">create a free account</md-button>
				</div>
			</div>
			<div flex layout="column">
				<md-card md-theme="darkTheme" class="md-padding blue-grey darken-1">
					<h4 class="center-align">Community Forum</h4>
					<p class="flow-text">Ask questions and recieve feedback from experts in our<a ng-href="/entries" class="orange-text"> Q&amp;A Forum</a>.</p>
				</md-card>
				<md-card md-theme="darkTheme" class="md-padding blue-grey darken-1">
					<h4 class="center-align">Are you an educator?</h4>
					<p class="flow-text">Use our free online <a href="/teachingCurriculum" class="orange-text">teaching resources</a> to put together a presentation using current,
						up-to-date resources.</p>
				</md-card>
			</div>
		</md-content>

		<div>
			<!--<md-card flex md-theme="" class="md-padding md-margin">-->
      <div class="md-margin md-padding">
        <h4>Our Next Meeting</h4>
        <p>May 4th, 2017 from 1:00 - 7:30 pm</p>
        <div class="md-padding">
          <img src="/images/lean-rethink-20feb16.jpeg" style="max-width: 100%">
        </div>
        <!--<div layout="column" layout-gt-md="row">-->
          <!--<div flex>-->
            <p><span class="flow-text">A spirited group</span> of researchers, teachers, and practitioners are getting together on
              to start up the <b>College of Operational Excellence (COE)</b> as a sub-group of the <em>Production and Operations Management
                Society (POMS)</em>. This meeting will also serve as a restart for <b>Lean Education Academic Network (L.E.A.N.)</b> as we envision
              the way forward for teaching and research in higher education.
            </p>
            <p>
              <span class="flow-text">Get in on the ground floor</span> by joining us at this Mini-Conference and Reception that serves as a prelude to the <a href="https://pomsmeetings.org/conf-2017/">annual POMS Conference</a>.
            </p>
          <!--</div>-->
          <!--<span flex></span>-->
        <!--</div>-->
        <div layout="column" layout-gt-sm="row">
          <h4>The Annual POMS 2017 Conference</h4>
          <span flex>
            <md-button class="md-raised md-accent" href="https://pomsmeetings.org/conf-2017/">Register Here</md-button>
          </span>
        </div>
        <p>May 5th - 8th, 2017</p>
        <div layout="column" layout-gt-sm="row">
          <div flex>
            <p>
              <span class="flow-text">The primary objective</span> of the COE is to build a community focused on operational excellence to
            </p>
            <ul class="md-margin">
              <li>1. foster creation and dissemination of scholarly knowledge;</li>
              <li>2. share teaching and pedagogical material;</li>
              <li>3. exchange information about undergraduate, graduate and other specialized educational programs;</li>
              <li>4. interact with leading practitioners to enrich research and teaching.</li>
            </ul>
            <p>If you are interested in getting in on the ground floor and providing input and direction, we would like
              to see you there. Just register at the POMS website.</p>
          </div>
          <div flex></div>
        </div>
        <p class="flow-text">
          If you have questions contact:
        </p>
        <p>
          Eric Olsen, <a href="mailto:eolsen@calpoly.edu">eolsen@calpoly.edu</a>
        </p>
        <p>
          Rachna Shah, <a href="mailto:shahx024@umn.edu">shahx024@umn.edu</a>
        </p>
        <p>
          Peter Ward, <a href="mailto:ward.1@osu.edu">ward.1@osu.edu</a>
        </p>
			<!--</md-card>-->

			</div>

		</div>
	</div>
</md-content>
