<div flex ng-controller="AuthController as vm" layout layout-align="center">
	<md-whiteframe class="signup-form md-padding md-whiteframe-2dp">
		<div layout="column">

			<md-button class="md-icon" aria-label="linkedin signup" ng-click="vm.authenticateLinkedIn()">
				<img ng-src="/images/logos/lkin-login-form-btn.png" class="md-card-image no-overflow">
			</md-button>

			<h5 class="text-center">Sign Into Your Account</h5>

			<span class="md-subhead text-warn">{{vm.loginError}}</span>

			<div layout="row" layout-sm="column" layout-align="space-around" ng-if="vm.progressCircleEnabled">
				<md-progress-circular md-mode="indeterminate"></md-progress-circular>
			</div>

			<md-input-container>
				<label>Email</label>
				<input required ng-model="username" type="email">
			</md-input-container>

			<md-input-container>
				<label>Password</label>
				<input required ng-model="password" type="password">
			</md-input-container>

			<div><md-button class="md-raised md-primary" ng-click="vm.authenticateLocal(username, password)">Login</md-button></div>

			<p><a href="/reset" class="md-margin">forgot password?</a></p>

			<md-divider class="divider-16px"></md-divider>

			<p class="flow-text">Don't have an account? <a ng-href="/createAccount"><b>Sign Up</b></a></p>
		</div>
	</md-whiteframe>
</div>
