<!DOCTYPE html>
<html ng-app="leansite" ng-cloak>

<head>
  <title>LEAN site</title>
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--STYLES-->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="/bower_components/summernote/dist/summernote.css">
  <link rel="stylesheet" href="/css/master.css">
  <!--STYLES END-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <base href="/">
</head>

<body layout ng-controller="MainController as mc" ng-cloak>
  <side-nav></side-nav>
  <div layout="column" flex>
    <tool-bar></tool-bar>
    <message-container layout="row" layout-align="center center" ng-if="mc.error || mc.message">
      <div layout="column">
        <div layout-padding ng-if="mc.error">
          <p>Error: <span class="red-text text-darken-1" ng-bind="mc.error"></span></p>
        </div>
        <div layout-padding ng-if="mc.message">
          <pre class="text-info md-padding" ng-bind="mc.message"></pre>
        </div>
      </div>
      <md-button class="md-fab md-mini md-primary" md-no-ink ng-click="mc.error = false; mc.message = false">&times;</md-button>
    </message-container>
    <!--ng-view container-->
    <div class="md-padding" ng-view flex></div>
  </div>
  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/bower_components/summernote/dist/summernote.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/angular-aria/angular-aria.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.js"></script>
  <script src="/bower_components/angular-material/angular-material.js"></script>
  <script src="/bower_components/angular-messages/angular-messages.js"></script>
  <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script src="/bower_components/trix/dist/trix.js"></script>
  <script src="/bower_components/angular-trix/dist/angular-trix.js"></script>
  <script src="/bower_components/moment/moment.js"></script>
  <script src="/bower_components/angular-moment/angular-moment.js"></script>
  <script src="/bower_components/angular-summernote/dist/angular-summernote.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/controllers/AddCommentController.js"></script>
  <script src="/js/controllers/AddEntryController.js"></script>
  <script src="/js/controllers/AnswerController.js"></script>
  <script src="/js/controllers/AuthController.js"></script>
  <script src="/js/controllers/CommentController.js"></script>
  <script src="/js/controllers/DashboardController.js"></script>
  <script src="/js/controllers/EntryDetailController.js"></script>
  <script src="/js/controllers/EntryHomeController.js"></script>
  <script src="/js/controllers/MainController.js"></script>
  <script src="/js/controllers/NavController.js"></script>
  <script src="/js/controllers/ProfileController.js"></script>
  <script src="/js/controllers/QuestionController.js"></script>
  <script src="/js/controllers/SettingsController.js"></script>
  <script src="/js/directives/AnswerDirective.js"></script>
  <script src="/js/directives/CommentDirective.js"></script>
  <script src="/js/directives/EntrySummaryDirective.js"></script>
  <script src="/js/directives/ProfileDirective.js"></script>
  <script src="/js/directives/QuestionDirective.js"></script>
  <script src="/js/directives/SidenavDirective.js"></script>
  <script src="/js/directives/ToolbarDirective.js"></script>
  <script src="/js/services/authService.js"></script>
  <script src="/js/services/baconService.js"></script>
  <script src="/js/services/entryService.js"></script>
  <script src="/js/services/userService.js"></script>
  <!--SCRIPTS END-->
</body>

</html>
