<!DOCTYPE html>
<html ng-app="leansite" ng-cloak>

<head>
  <title>LEAN site</title>
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="icon" href="/favicon.ico?version=2" type="image/png">
  <!--STYLES-->
  <link rel="stylesheet" href="/min/production.min.css">
  <!--STYLES END-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <base href="/">
</head>

<body id="main" layout ng-controller="MainController as mc" ng-cloak>
  <side-nav></side-nav>
  <div layout="column" flex>
    <tool-bar></tool-bar>
    <message-container layout="row" layout-align="center center" ng-if="mc.error || mc.message">
      <div layout="column">
        <div layout-padding ng-if="mc.error">
          <p>Error: <span class="red-text text-darken-1" ng-bind="mc.error"></span></p>
        </div>
        <div layout-padding ng-if="mc.message">
          <pre class="text-info md-padding" ng-bind="mc.message"></pre>
        </div>
      </div>
      <md-button class="md-fab md-mini md-primary" md-no-ink ng-click="mc.error = false; mc.message = false">&times;</md-button>
    </message-container>
    <div class="md-padding" ng-view flex><!-- ng-view container --></div>
  </div>
  <!--SCRIPTS-->
  <script src="/min/production.min.js"></script>
  <!--SCRIPTS END-->
</body>

</html>
