<md-content ng-controller="DashboardController as vm" layout-fill>
  <div layout="column" class="container">
    <ng-include src="vm.templatePath" layout-padding></ng-include>
  </div>
  <div ng-hide="mc.user" class="container">
    <div flex class="md-padding">
      <div class="md-padding" layout="column" layout-align="center center">
        <h3 flex>You are not logged in.</h3>
        <div flex>
          <md-button class="md-raised md-accent" ng-href="/login">Login here</md-button>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="mc.user" layout-fill>
    <md-tabs md-border-bottom md-autoselect>
      <md-tab label="Recent Activity">
        <div layout-padding>
		  <span>Recent Activity goes here...</span>
        </div>
      </md-tab>
	  <md-tab label="Questions">
        <div layout-padding>
		  <span>Questions goes here...</span>
        </div>
      </md-tab>
	  <md-tab label="Answers">
        <div layout-padding>
		  <span>Answers goes here...</span>
        </div>
      </md-tab>
	  <md-tab label="Comments">
        <div layout-padding>
		  <span>Comments goes here...</span>
        </div>
      </md-tab>
    </md-tabs>
	<profile user="mc.user"></profile>
  </div>
</md-content>
