<md-card class="md-whiteframe-9dp float-middle-right">
  <md-card-title>
    <md-card-avatar>
      <img class="md-user-avatar" ng-src="{{user.pictureUrl}}">
    </md-card-avatar>
    <span flex="5"><!-- Spacer --></span>
    <md-card-title-text>
      <span class="md-headline">{{user.name}}</span>
      <span class="md-subhead">Reputation: {{user.reputation}}</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-actions layout="" layout-align="start|center|end|space-around|space-between start|center|end|stretch">
    <md-card-icon-actions>
        <md-button ng-show="!vm.isEditing" ng-click="vm.isEditing = true">Edit</md-button>
        <md-button ng-show="vm.isEditing" ng-click="vm.isEditing = false">Save</md-button>
    </md-card-icon-actions>
  </md-card-actions>
  <md-card-content>
      {{user.bio}}
  </md-card-content>
</md-card>