body,* {
	margin: 0;
	font-family: inherit;
}
html, body {
	background-color: #fafafa;
}
body {
	height: initial;
}
.login-form {
	margin: 0 auto;
	max-width: 560px;
	min-width: 400px;
}
md-no-animations,
md-dialog.md-transition-in,
md-dialog.md-transition-out {
  transform : none !important;
}
nav, md-nav-bar {
	margin: 0 0 -1px 0;
}
header {
	height: 65px;
	background-color: white;
	border-bottom: solid rgb(174, 174, 174);
	border-width: 1px;
}
.logo {
	text-align: center;
	text-decoration: none;
	color: #4a4a4a;
}
.logo img {
	height: 50px;
}
@media only screen and (max-width: 500px) {

}
a.logo, a.logo:visited {
	text-decoration: none;
	color: inherit;
}
.logo > h1 {
	padding-top: 16px;
	text-align: center;
	font-weight: bold;
	font-size: 26px;
}
header + .page-container {
	margin-top: 16px;
}
.page-container {
	background: white;
	width: 80%;
	margin: 0 auto;
}
.page-container.md-padding {
	height: inherit;
}
.container {
	height: 100%;
	width: 100%;
	margin: 16px 10% 16px 10%;
}
@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}

.inline {
	display: inline-block;
}

message-container {
	padding: 1%;
	color: white;
	background-color: grey;
}

md-toolbar img {
    height:49px;
    margin-top:5px;
    margin-left:10px;
}

md-dialog {
	min-width: 400px;
}
md-dialog > form {
	padding:15px;
	margin-top:30px;
}

.text-warn {
	color: red;
}

.text-info {
	color: blue;
}

.text-success {
	color: green;
}
