body,
* {
  margin: 0;
  font-family: inherit;
}

html,
body {
  background-color: #fafafa;
}

body {
  height: initial;
}

.login-form {
  margin: 0 auto;
  height: 580px;
  width: 550px;
}

.logo {
  text-align: center;
  text-decoration: none;
  color: #4a4a4a;
}

.logo img {
  width: 90%;
}

a.logo,
a.logo:visited {
  text-decoration: none;
  color: inherit;
}

.logo>h1 {
  padding-top: 16px;
  text-align: center;
  font-weight: bold;
  font-size: 26px;
}

header+.page-container {
  margin-top: 16px;
}

.page-container {
  background: white;
  width: 80%;
  margin: 0 auto;
}

.page-container.md-padding {
  height: inherit;
}

.container {
  height: 100%;
  width: 100%;
  margin: 16px 10% 16px 10%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}

.inline {
  display: inline-block;
}

message-container {
  background: white;
  color: #4a4a4a;
  width: 60%;
  /* height: 10%; */
  margin: 0 auto;
  border: 1px solid #b7b7b7;
  border-left: 5px solid red;
  margin-top: 10px;
  border-radius: 10px 3px 3px 10px;
  font-size: 150%;
  padding: 0;
}

md-toolbar img {
  height: 49px;
  margin-top: 5px;
  margin-left: 10px;
}

md-dialog {
  min-width: 400px;
}

md-dialog>form {
  padding: 15px;
  margin-top: 30px;
}

md-list-item {
  width: initial;
}

md-list-item>div.md-primary>md-icon:not(.md-avatar-icon),
md-list-item>div.md-secondary>md-icon:not(.md-avatar-icon),
md-list-item>md-icon:first-child:not(.md-avatar-icon),
md-list-item>md-icon.md-secondary:not(.md-avatar-icon),
md-list-item .md-list-item-inner>div.md-primary>md-icon:not(.md-avatar-icon),
md-list-item .md-list-item-inner>div.md-secondary>md-icon:not(.md-avatar-icon),
md-list-item .md-list-item-inner>md-icon:first-child:not(.md-avatar-icon),
md-list-item .md-list-item-inner>md-icon.md-secondary:not(.md-avatar-icon) {
  margin-top: 0px;
  margin-right: 32px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.md-sidenav-left {
  height: 100vh;
}

.text-warn {
  color: #F44336;
}

.text-info {
  color: #3F51B5;
}

.text-success {
  color: #4CAF50;
}

.profile-frame {
  min-width: 350px;
  max-width: 550px;
}

.profile-content {
  max-height: 200px;
  max-width: 400px;
  color: #3e3e33;
  background: white;
}

.entry-summary {
  margin: 10px;
}

.entry-summary:hover {
  background: #eaeaea;
}

.summary-small {
  color: #6d6d6d;
  text-align: right;
  font-size: 100%;
  padding: 0;
}

.question {
  min-height: 300px;
  margin: 20px;
  margin-bottom: 0;
}

.answer {
  min-height: 300px;
  margin: 20px;
  margin-bottom: 0;
}

.answer .correct {
  color: green;
  font-size: 600%;
  text-align: center;
  margin: 0 20px;
  line-height: 100%;
}

.q-content {
  min-height: 100px;
  padding: 10px;
  border: 1px solid #efefef;
  border-radius: 3px;
}

.small-container {
  margin: 0;
}

.comments-container {
  margin-left: 20%;
  margin-right: 10%;
  border-top: 1px solid #cecece;
}

.comment {
  padding: 10px;
  border: 1px solid #cecece;
  border-top: 0;
  border-radius: 2px;
  background: white;
}

.single-comment {
  border-top: 1px solid #cecece;
  border-radius: 2px;
}

.comment p {
  margin: 0;
}

.small-button {
  min-width: 0;
  min-height: 0;
  line-height: initial;
  text-transform: none;
}
