<div layout="column" layout-fill ng-controller="DashboardController as vm">
	<md-content flex class="md-padding" ng-show="mc.user">
		<ng-include src="vm.includeSrc"></ng-include>
	</md-content>
	<md-content flex class="md-padding" ng-hide="mc.user">
		<div class="md-padding" layout="column" layout-align="center center">
			<h3 flex>You are not logged in.</h3>
			<div flex>
				<md-button class="md-raised md-accent" ng-href="/login">Login here</md-button>
			</div>
		</div>
	</md-content>
</div>
