
<header layout layout-align="center end" md-whiteframe="3" ng-controller="NavController as vm">
	<a flex href="/" class="logo">
		<img src="/images/29-samplelogo.png" alt="">
		<h1 class="md-heading">TeachingLean</h1>
	</a>
	<nav flex>
			<md-nav-bar md-whiteframe="3" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links" class="nav-item">
				<md-nav-item md-nav-href="/" name="home">Home</md-nav-item>
				<md-nav-item md-nav-href="/education" name="education">Education</md-nav-item>
				<md-nav-item md-nav-href="/teachingResources" name="teachingResources">Teaching Resources</md-nav-item>
				<md-nav-item md-nav-href="/about" name="about">About Us</md-nav-item>
			</md-nav-bar>
	</nav>
	<md-toolbar flex>
		<div class="md-toolbar-tools" ng-if="!mc.user">
			<md-button class="md-button md-raised" ng-href="/login">Sign in</md-button>
		</div>
		<div class="md-toolbar-tools" ng-if="mc.user">
			<span ng-show="mc.user"><p ng-bind="mc.user.name" class="white-text"></p></span>
			<span flex></span>
			<md-menu md-offset="-70 65">
				<md-button class="md-icon-button" aria-label="Menu" ng-click="vm.openMenu($mdOpenMenu, $event)">
					<md-icon md-menu-origin class="green-text text-lighten-1"><i class="mdi mdi-dots-vertical mdi-24px"></i></md-icon>
				</md-button>
				<md-menu-content width="3">
					<md-menu-item ng-if="mc.user">
						<md-button ng-click="vm.showUserDashboard()">
							<md-icon md-menu-align-target><i class="mdi mdi-view-dashboard mdi-24px"></i></md-icon>
							Dashboard
						</md-button>
					</md-menu-item>
					<md-menu-item ng-if="mc.user.isAdmin">
						<md-button ng-href="/admin">
							<md-icon md-menu-align-target><i class="mdi mdi-developer-board mdi-24px"></i></md-icon>
							Admin
						</md-button>
					</md-menu-item>
					<md-menu-item ng-if="mc.user">
						<md-button ng-href="/dashboard/settings">
							<md-icon md-menu-align-target><i class="mdi mdi-settings mdi-24px"></i></md-icon>
							Settings
						</md-button>
					</md-menu-item>
					<md-menu-item ng-if="mc.user">
						<md-button ng-click="mc.logout()">
							<md-icon md-menu-align-target><i class="mdi mdi-logout mdi-24px"></i></md-icon>
							Logout
						</md-button>
					</md-menu-item>
					<md-menu-item ng-if="!mc.user">
						<md-button ng-href="/login">
							<md-icon md-menu-align-target><i class="mdi mdi-login-variant mdi-24px"></i></md-icon>
							Login
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</div>
	</md-toolbar>
</header>
