<md-content flex layout-padding layout>
	<div flex flex-offset="10">
		<h2 class="md-display-1">TeachingLean</h2>
		<h3 class="md-headline">Teachinglean.org is a place for students and educators to learn and share their knowledge about LEAN systems and other business philosophies.</h3>
		<md-divider></md-divider>
		<!--<h3 class="md-headline">What is Lean?</h3>-->
		<h3 class="md-headline">Check out our free online teaching resources.</h3>
		<p class="md-body-2"><em>Coming soon...</em></p>
		<md-divider></md-divider>
		<h3 class="md-headline">Need an answer to a burning question? <a ng-href="/entries">Start here</a>.</h3>
	</div>
	<div flex="25"></div>
</md-content>