
<md-toolbar layout md-whiteframe="4" ng-controller="NavController as vm" ng-cloak>
	<div flex="20" layout="row" layout-align="center center" class="md-padding">
		<md-button aria-label="Logo" ng-href="/">
			<img src="/images/sampleLogo.png" alt="">
		</md-button>
	</div>
	<div flex="60" layout="row" layout-align="center end" class="md-padding">
		<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
			<md-nav-item md-nav-href="/" name="home">Home</md-nav-item>
			<md-nav-item md-nav-href="/education" name="education">Education</md-nav-item>
			<md-nav-item md-nav-href="/about" name="about">About Us</md-nav-item>
			<md-nav-item md-nav-href="/teachingResources" name="teachingResources">Teaching Resources</md-nav-item>
			<!-- <md-nav-item md-nav-href="/dashboard" name="dashboard">Dashboard</md-nav-item> -->
		</md-nav-bar>
	</div>
	<div flex="20" layout layout-align="center end" class="md-padding">
		<md-toolbar class="md-hue-2">
			<div class="md-toolbar-tools">
				<span ng-show="mc.user"><p ng-bind="mc.user.name" style="color: white;"></p></span>
				<span ng-if="!mc.user" style="color: white;">Welcome</span>
				<span flex></span>
				<md-menu md-offset="-70 65">
					<md-button class="md-icon-button" aria-label="Menu" ng-click="vm.openMenu($mdOpenMenu, $event)">
						<md-icon md-menu-origin style="color: greenyellow;"><i class="mdi mdi-dots-vertical mdi-24px"></i></md-icon>
					</md-button>
					<md-menu-content width="3">
						<md-menu-item ng-if="mc.user">
							<md-button ng-href="/dashboard">
								<md-icon md-menu-align-target><i class="mdi mdi-view-dashboard mdi-24px"></i></md-icon>
								Dashboard
							</md-button>
						</md-menu-item>
						<md-menu-item ng-if="mc.user">
							<md-button ng-href="/dashboard/settings">
								<md-icon md-menu-align-target><i class="mdi mdi-settings mdi-24px"></i></md-icon>
								Settings
							</md-button>
						</md-menu-item>
						<md-menu-item ng-if="mc.user">
							<md-button ng-click="mc.logout()">
								<md-icon md-menu-align-target><i class="mdi mdi-logout mdi-24px"></i></md-icon>
								Logout
							</md-button>
						</md-menu-item>
						<md-menu-item ng-if="!mc.user">
							<md-button ng-href="/login">
								<md-icon md-menu-align-target><i class="mdi mdi-login-variant mdi-24px"></i></md-icon>
								Login
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			</div>
		</md-toolbar>
	</div>
</md-toolbar>
