<md-sidenav class="md-sidenav-left" md-component-id="sidenav" md-is-locked-open="mc.sideNavLocked" md-whiteframe="4">
  <a href="/" class="logo">
    <img src="/images/logos/LEAN.png" alt="Teaching LEAN" class="md-margin">
  </a>
  <md-list ng-controller="NavController as vm">
    <md-list-item ng-href="/" name="home" ng-click="mc.toggleSidenav()">
      <p class="md-body-2">Home</p>
    </md-list-item>

    <md-list-item name="education" ng-href="/education" ng-click="mc.toggleSidenav()">
      <p class="md-body-2">Education</p>
    </md-list-item>

    <md-list-item 
    ng-href="/education" 
    ng-click="mc.toggleSidenav()">
      <p class="md-body-1" style="padding-left:50px;">Courses</p>
    </md-list-item>

    <md-list-item 
    ng-href="/teachingResources" 
    name="teachingResources" 
    ng-click="mc.toggleSidenav()">
      <p class="md-body-1" style="padding-left:50px;" >Teaching Resources</p>
    </md-list-item>

    <md-list-item ng-href="/entries" name="entries" ng-click="mc.toggleSidenav()">
      <p class="md-body-2">Q &amp; A Forum</p>
    </md-list-item>

    <md-list-item ng-href="/about" name="about" ng-click="mc.toggleSidenav()">
      <p class="md-body-2">About Us</p>
    </md-list-item>

    <!--User Navigation-->
    <md-subheader></md-subheader>

    <md-list-item ng-href="/dashboard" ng-click="mc.toggleSidenav()">
      <md-icon md-menu-align-target md-svg-icon="/images/icons/account-circle.svg"></md-icon>
      <p class="md-body-2">Dashboard</p>
    </md-list-item>

    <md-list-item ng-href="/login" ng-if="!mc.user" ng-click="mc.toggleSidenav()">
      <md-icon md-menu-align-target md-svg-icon="/images/icons/login.svg"></md-icon>
      <p class="md-body-2">Login</p>
    </md-list-item>

    <md-list-item ng-click="vm.logout();mc.toggleSidenav()" ng-if="mc.user">
      <md-icon md-menu-align-target md-svg-icon="/images/icons/logout.svg"></md-icon>
      <p class="md-body-2">Logout</p>
    </md-list-item>

  </md-list>
</md-sidenav>
