<md-toolbar layout layout-padding layout-align="center center">
  <div flex></div>
  <div ng-hide="mc.user" layout>
    <md-button class="" aria-label="Sign Up" ng-href="/login">
      Sign Up
    </md-button>
    <md-button class="md-raised" aria-label="Login" ng-href="/login">
      Login
    </md-button>
  </div>
  <md-button class="md-icon-button" aria-label="Menu" ng-click="mc.toggleSidenav()" hide-gt-sm>
    <md-icon md-menu-align-target md-svg-icon="/images/icons/menu.svg"></md-icon>
  </md-button>
</md-toolbar>
