<md-content layout="column">
	<md-subheader class="md-header md-no-sticky">Users</md-subheader>
	<table style="max-width: 680px;">
		<tr>
			<th>Name</th>
			<th>Email Address</th>
			<th>Last Login</th>
		</tr>
		<tr ng-model="vm.users" ng-repeat="user in vm.users track by $index" id="row-{{$index}}">
			<td ng-show="!user.isEditing"><a ng-click="toggleUserCard(user, $index)">{{user.firstname}} {{user.lastname}}</a></td>
			<td ng-show="!user.isEditing" style="background-color: slategray;">{{user.email}}</td>
			<td ng-show="!user.isEditing" style="background-color: slategray;">{{user.lastLogin | date:'MMM dd, yyyy h:mm a'}}</td>
			<td ng-show="user.isEditing" colspan="3"><admin-user-card user="user" index="$index" ctrl="vm"></admin-user-card></td>
		</tr>
	</table>
	<!--<md-whiteframe class="md-whiteframe-1dp" layout ng-model="vm.users" ng-repeat="user in vm.users track by $index" id="frame-{{$index}}">
			<p class="md-body-1">{{user.firstname}} {{user.lastname}}, {{user.email}}, {{user.lastLogin | date:'MMM dd, yyyy h:mm a'}}</p>		
	</md-whiteframe>-->
</md-content>
